<h2><%=customer.full_name %></h2>
<% if customer.image.present? %>
    <%= image_tag url_for(customer.image), alt: customer.full_name %>
<% end %>
<% if customer.phone_number.present? %>
    <p><span>Phone number:</span> <%=customer.phone_number%></p>
<% end %>
<% if customer.email_address.present? %>
    <p><span>Email:</span> <%=customer.email_address%></p>
<% end %>
<% if customer.notes.present? %>
    <p><span>Notes:</span> <%=customer.notes%></p>
<% end %>